<launch>

    <param name="r" value="0.0752"/>
    <param name="l" value="0.19"/>
    <param name="w" value="0.169"/>
    <param name="N" value="41"/>
    <param name="T" value="5"/>
    <param name="initialApproximation" value="0"/>

    <node pkg="first_project" type="sub_wheels" name="my_sub_wheels" output="screen"/>
    <node pkg="first_project" type="velocity" name="my_velocity" output="screen"/>

    <!-- Each of the following comments are static TF transform to align the frame "odom" and "world" for each different bag.
         Please uncomment the fist one for bag1, second one for bag2 or third for bag3 -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="world_odom" args="0.008160 0.003060 0.368708 -0.038735 0 0 1 world odom "/>
    <!--<node pkg="tf2_ros" type="static_transform_publisher" name="world_odom" args="0.02422 0.003743 0.372  0.0338 -0.0556 -0.0028 1 world odom "/>-->
    <!--<node pkg="tf2_ros" type="static_transform_publisher" name="world_odom" args="0.00546 0.003997 0.370 -0.0106 -0.0248 -0.0068 1 world odom "/>-->

    <arg name="path" default=" $(find first_project)/bags/bag1" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -l $(arg path).bag">
    </node>


</launch>
