<launch>

    <param name="r" value="0.07"/>
    <param name="l" value="0.2"/>
    <param name="w" value="0.169"/>
    <param name="N" value="42"/>
    <param name="T" value="5"/>
    <param name="initialApproximation" value="0"/>


    <node pkg="callbacks_complete" type="sub_wheels" name="my_sub_wheels" output="screen"/>
    <node pkg="callbacks_complete" type="velocity" name="my_velocity" output="screen"/>
    <node pkg="callbacks_complete" type="Odometry" name="my_Odometry" output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="world_odom" args="0.00816 0.00306 0.368708 0 0 0 1 world odom " />

    <arg name="path" default=" $(find callbacks_complete)/bags/bag1" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock  $(arg path).bag">
    </node>


</launch>
