<launch>

    <node pkg="callbacks_complete" type="pub_complete" name="my_pub_complete" />
    <node pkg="callbacks_complete" type="sub_complete" name="my_sub_complete" output="screen" />
    
    <arg name="path" default="/home/lorenzonebolosi/Documents/project/robotics/src/prova_classes/bags/bag1" />   
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock  $(arg path).bag">
    </node>


</launch>
